@model WilliamsLogMgmtPortal.Models.Message

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Message</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CorrelationIdentifier)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CorrelationIdentifier)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SendingOrgId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SendingOrgId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReceivingOrgId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReceivingOrgId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Severity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Severity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrgMessage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrgMessage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Timestamp)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Timestamp)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MessageId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
